framework: auto-detect

source http://nuget.org/api/v2

nuget FSharp.Core >= 4.3.4
nuget Expecto
nuget Expecto.FsCheck
nuget FsCheck 
nuget Expecto.VisualStudio.TestAdapter version_in_path: true

group Formatting
source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FSharp.Formatting.CommandTool

group FakeBuild
source https://api.nuget.org/v3/index.json

storage: none

clitool dotnet-fake
nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.DotNet.Cli
nuget Fake.Tools.Git
nuget Fake.DotNet.MSBuild
nuget Fake.Core.ReleaseNotes 
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Paket
nuget Fake.DotNet.Testing.Expecto 
nuget Fake.DotNet.FSFormatting 