source http://nuget.org/api/v2

nuget Expecto
nuget Expecto.FsCheck
nuget FAKE
nuget FSharp.Formatting
nuget FsCheck 
nuget FSharp.Core
nuget FsUnit
nuget NUnit
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx