framework: auto-detect

source https://api.nuget.org/v3/index.json

nuget FSharp.Core >= 4.3.4 lowest_matching:true
nuget Expecto
nuget Expecto.FsCheck
nuget FsCheck
nuget Microsoft.NET.Test.Sdk
nuget YoloDev.Expecto.TestSdk

group Formatting
source https://api.nuget.org/v3/index.json

nuget FSharp.Formatting
nuget FSharp.Formatting.CommandTool

group FakeBuild
source https://api.nuget.org/v3/index.json

storage: none

nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.DotNet.Cli
nuget Fake.Tools.Git
nuget Fake.DotNet.MSBuild
nuget Fake.Core.ReleaseNotes
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Paket
nuget Fake.DotNet.Testing.Expecto
nuget Fake.DotNet.FSFormatting
nuget Fake.BuildServer.AppVeyor
nuget Fake.BuildServer.Travis

group Test.Fable
source https://api.nuget.org/v3/index.json

nuget Fable.Core
nuget Fable.FastCheck
nuget Fable.FastCheck.Jest
nuget Fable.Jester
nuget FSharp.Core
